<!DOCTYPE html>
<html>
<head>
	<script src="./main.js"></script>
	<title>CS313 Assignments</title>
</head>
<body>
<h1>Welcome to CS313 Assignments Page for Project 2!</h1>

<h1>Week 10: Want to query some family history?</h1>
<p>Chech it out on the Family Search page.</p>
<a class="button-thankyou" href="/pages">Search Here</a>
</body>
</html>







