<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <form>
      <input type="text" name="id" id="id">
      <button type="button" onclick="getPerson()">Submit</button>
    </form>
    <div id="person"></div>
  </body>
</html>